global
    daemon
    maxconn 1024
    pidfile /var/run/haproxy.pid

defaults
    balance roundrobin
    timeout client 60s
    timeout connect 60s
    timeout server 60s

frontend http
    bind :80
    mode http

{% for svc in ["claire", "bio"] %}
    acl acl_{{ svc }} hdr(host) -i {{ svc }}.kippou.fr
    use_backend {{ svc }} if acl_{{ svc }}
{% endfor %}
    acl acl_claire hdr(host) -i claire.kippou.fr
    use_backend claire if acl_claire

{% for svc in ["claire", "bio"] %}
backend {{ svc }}
    mode http
    server back_{{ svc }}_1 {{ docker_net.ips[svc] }}:80

{% endfor %}
